
body{

background: rgba(243,233,124,1);
background: -moz-linear-gradient(top, rgba(243,233,124,1) 0%, rgba(254,252,205,1) 100%);
background: -webkit-linear-gradient(top, rgba(243,233,124,1) 0%, rgba(254,252,205,1) 100%);
background: -o-linear-gradient(top, rgba(243,233,124,1) 0%, rgba(254,252,205,1) 100%);
background: -ms-linear-gradient(top, rgba(243,233,124,1) 0%, rgba(254,252,205,1) 100%);
background: linear-gradient(to bottom, rgba(243,233,124,1) 0%, rgba(254,252,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e97c', endColorstr='#fefccd', GradientType=0 );
background-repeat: no-repeat;
    color: #367701;
}
.nav-bar {
    position: fixed;
    top: 0;   left: 0;   right: 0;
    width: 100%;
}
ul {
    width: 100%;
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: black;
}

li {
    float: right;
}
.li-head-title{
    padding: 10px 20px;
    width: 60%;
    float: left;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
    margin: 3px 0 3px 0;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Ruda', sans-serif;
    font-size: 11px;
}
.log-on{
    color: #e29402;
}
li a:hover {
    background-color: #1f4600;
}

.row{
    display: flex;
    width: 100%;
    align-items: stretch;
    border: 3px ;
    padding-top: 150px;
}
.quater{
    width: 25%;
    height: 100%;

}
.time{
    padding: 7px;
}

.search{
    width: 75%;
    border: 3px solid green;
}


.title{
    font-family: 'Ruda', sans-serif;
    font-size: 25px;
    text-align: left;
    padding: 2px;
    margin: 2px 0 2px 0;
}
a {
    color: black; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.image{
    height: 200px;
    width :200px;
    float: left;
    margin: 0 0 20px 10px;
}

#search-form {
  width:300px;
  height:40px;
  padding-left:20px;
  padding-right:20px;
  color: black;
  border-radius: 40px;
  outline: none;
  border: none;
}

.container-form button {
  background: none;
  border: none; 
  background-color: transparent;
}







* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons 
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button 
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width 
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements 
.container {
  padding: 16px;
}

/* Clear floats 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens 
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
*/

